# Byte-compiled / optimized / DLL files
.venv/
__pycache__/
*.pyc

# Data files
data/raw/*
data/interim/*
data/processed/*

# Environment variables and Jupyter notebook checkpoints
.env
.ipynb_checkpoints

# ML artifacts
artifacts/
artifacts/models/*
artifacts/metrics/*
artifacts/predictions/*
